.user{
	position: relative;
}

.user:before {
    content: "";
    position: absolute;
    right: -7px;
    top: 32px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
}

.user:after {
    content: "";
    position: absolute;
    right: -7px;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #003c5d;

}

.user:hover{
	cursor: pointer;
	background-color: #003c5d !important;
}

#drop-down-menu{
    z-index:10;
	position: absolute;
	padding: 0px 0px 0px 0px;
	right: -7px;
	background-color: #191919;
}

.hide-menu{
	display: none;
}

a{
	color: white;
}

#inline-menu-item{
    font-size: 0.85em;
}

#menu-item{
	line-height: 55px;
	list-style: none;
	padding: 0px 25px 0px 25px;
}

#menu-item:hover{
	background-color:#3f3f3f;
}

.add-image{
    background-color: #003c5d;
    z-index: 50;
    position: fixed;
    bottom: 15px;
    width: 55px;
    height: 55px;
    padding: 6px 19px;
    font-size: 30px;
    right: 15px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.add{
    width: 48px;
    height: 48px;
}

#main-container{
    position: relative;
    width: 95%;
    height: auto;
    margin: 0 auto;
    top:20px;
    background-color: white;
    padding: 20px;
}

#data{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#table-heading{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.25em;
}

#loading{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.hide{
    display: none;
}

table{
    position: relative;
    /*width: 100%;*/
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 0.9em;
}

th ,td{
    padding: 10px;
    border: 0.5px solid #191919;
    
}

.no-border{
    border:0px;
}

.head-background{
    background-color: #003c5d;
    color: white;
}

.delete{
    background-color: #cc0000;
    border-color: #cc0000;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.button-style{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

#add-table{
    border: 0px !important;
}

@media only screen and (min-width: 600px){
    .add-image{
        width: 65px;
        height: 65px;
        padding: 11px 24px;
        font-size: 32px;
        bottom:25px;
        right: 25px;
    }
}

@media only screen and (min-width: 768px){
    .add-image{
        right: 30px;
        bottom: 30px;
    }
}
