<!DOCTYPE html>
<html>
<head>
	<title>Welcome to AMS</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/ams.css')}}">
	<!-- <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static',filename='JS/ams2.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='JS/jquery.md5.js')}}"></script>
</head>
<body>
	<div id="form">
		Firstname : <input type="text" id="name" /></br>
		<!-- Lastname: <input type="text" /></br>
		Username: <input type="text" /></br>
		Password: <input type="password" /></br>
		Image: <input type="file"></br> -->
		<input type="checkbox" id="male">
			Male
		</input>
		<input type="checkbox" id="female">
			Female
		</input>
		<form>
		<input type="file" id="file"></input></form>
		<a id="id" href="#" download="index">link</a>
		<div id="demo" style="width: 100px; height: 100px;"></div>
		<button type="button" id ="submit">Send</button>
		
	</div>
</body>
</html>