<!DOCTYPE html>
<html>
<head>
	<title>Welcome to AMS</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/ams.css')}}">
	<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static',filename='JS/ams.js')}}"></script>
</head>
<body>
	<div id="form">
		Firstname : <input type="text" id="name" /></br>
		<!-- Lastname: <input type="text" /></br>
		Username: <input type="text" /></br>
		Password: <input type="password" /></br>
		Image: <input type="file"></br> -->
		<button type="button" id ="submit">Send</button>
		<p id="demo"></p>
	</div>
</body>
</html>