<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static', filename='JS/js-cookie.js')}}"></script>
	<script type="text/javascript">
		Cookies.remove("username");
		Cookies.remove("password");
		Cookies.remove("role");
		Cookies.remove("id");
		window.location.replace("/");
	</script>
</head>
<body>

</body>
</html>